.usersPage {
    display: grid;
    grid-template-columns: 800px;
}
.user:first-child {
    border-top: none;
}
.user {
    padding: 12px;
    border-top: 1px solid #858585;
}
.usersBlock {
    padding: 0 20px;
}
.photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
