.pageName {
    padding-left: 15px;
    font-size: 19px;
    font-weight: bold;
}
.buttonsBlock {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.division {
    margin: 20px 0;
    position: relative;
    border-top: 1px solid #858585;
}
.divisionName {
    position: absolute;
    padding: 5px;
    top: -20px;
    background-color: #606365;
}
.editModeBtn {
    background-color: #606365;
    padding: 5px;
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
}

.fullInfoBtnBlock {
    padding: 0 20px;
    text-align: center;
}
.fullInfoBtn {
    cursor: pointer;
    padding: 10px;
    display: block;
}
.fullInfoBtn:hover {
    border-radius: 4px;
    background-color: #858585;
}
.profilePhoto {
    max-width: 300px;
    max-height: 300px;
}
input[type="file"] {
    display: none;
}
.uploadPhoto {
    background-color: #d6dfe9;
    border-radius: 5px;
    border: 1px solid #383838;
    padding: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
}