.postHeader {
    display: flex;
}
.personPhoto {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.personName {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    color: #00fdfc;
}
.postContent {
    padding: 5px;
}